{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %} {% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'images/news.ico'  %}" type="image/x-icon">
	<script src="{% static 'js/index.js'  %}" type="module"></script>
	<script src="{% static 'js/categoires_name.js'  %}" type="module"></script>
</head>
<body>
	
	<div class="wrapper">
		{% include './header.html' %}

		{% block body %}
		{% endblock %}

		{% include './footer.html' %}
	</div>

</body>