<div class='header'>
	<div class="header__background">
		<div class='container'>
			<div class='header__container'>
				<div class='header__title'>PB<span>News</span></div>
				<ul class='navigator'>
					<li class='list__item'>
						<a href="{% url 'main' %}" class="link">
							Home
						</a>
					</li>
					<li class='list__item'>
						<div class="links__container">
							<span class="links__container_title">
								Categories
							</span>
							<ul class="categories__container">
								{% for category in categories %}
									<li class="list__item">
										<a href="{{ category.get_absolute_url }}" class="link">
											{{ category.category_name }}
										</a>
										<a href="{% url 'add' category.id%}" class="link">
											add to Watchlist
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>

					</li>
					<li class='list__item'>
						<form action="#" method="get">
							<input type="text" name="search" placeholder="Search" autocomplete="off" class="header__search">
							<input type="submit" value="search">
						</form>
					</li>
					<li class='list__item'>
						{% if request.user.is_authenticated %}
							<p class="btn__container">
								<a href="#" class="link">
									Leave Articles
								</a>
								<a href="{% url 'log-out' %}" class="link">
									Log Out
								</a>
								<a href="{% url 'watchlist'  %}" class="link">
									Watchlist
								</a>
								<a href="#" class="link">
									{{ request.user.username  }}
								</a>
							</p>
						{% else %}
							<p class="btn__container">
								<a href="{% url 'sign-up' %}" class="btn__link">
									Sign up
								</a>
								<a href="{% url 'log-in'  %}" class="btn__link">
									Log In
								</a>
							</p>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
